<!DOCTYPE html>
<!-- Template by Quackit.com -->
<!-- Images by various sources under the Creative Commons CC0 license and/or the Creative Commons Zero license. 
Although you can use them, for a more unique website, replace these images with your own. -->
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->

    <title>Snoqulamie Pass Closure</title>

    <!-- Bootstrap Core CSS -->
    <link href="css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom CSS: You can use this stylesheet to override any Bootstrap styles and/or apply your own styles -->
    <link href="css/custom.css" rel="stylesheet">

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->

    <!-- Custom Fonts from Google -->
    <!-- <link href='http://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,800italic,400,300,600,700,800' rel='stylesheet' type='text/css'> -->
    
</head>

<body>

    <!-- Navigation -->
    <nav id="siteNav" class="navbar navbar-default navbar-fixed-top" role="navigation">
        <div class="container">
            <!-- Logo and responsive toggle -->
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navbar">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="#">
                	<span class="glyphicon glyphicon-asterisk"></span> 
                	Pass Closure
                </a>
            </div>
            <!-- Navbar links -->
            <div class="collapse navbar-collapse" id="navbar">
                <ul class="nav navbar-nav navbar-right">
                    <li class="active">
                        <a href="#">Home</a>
                    </li>
                    <li>
                        <a href="#about">About</a>
                    </li>
						<li><a href="#predict">Predict</a></li>
                    <li>
                        <a href="#contact">Contact</a>
                    </li>
                </ul>
                
            </div><!-- /.navbar-collapse -->
        </div><!-- /.container -->
    </nav>

	<!-- Header -->
    <header>
        <div class="header-content">
            <div class="header-content-inner">
                <h1 id='header1'>Snoqualmie Pass Closure Probability</h1>
                <p id='header2'>A service predicting the probability of Snoqualmie Pass Road Closure</p>
                <a href="#probabilities" class="btn btn-primary btn-lg">Who Snows?</a>
            </div>
        </div>
    </header>

    <!-- Intro Section -->
    <a name="probabilities"></a>
    <section class="intro">
        <div class="container">
            <div class="row">
                <div class="col-lg-8 col-lg-offset-2">
                    <h2 class="section-heading">Snoqualmie Pass Closure Probabilities:</h2>
                    <p>
                        <div>
                        <div id="table1" style="width:250;height:600px; float:left;"> {{table|safe}} </div>
                        <img src="/plot.png" id="graph" alt="" style="width:550px;height:400px; float: right; margin: 5px;">
                        </div>
                    </p>
                </div>
            </div>
        </div>
    </section>

    <!-- Content 1 -->
    <a name="about"></a>
    <section class="content">
        <div class="container">
            <div class="row">
                <div class="col-sm-6">
                    <img class="img-responsive img-circle center-block" src="images/snoqualmie_pass.jpg" alt="">
                </div>
                <div class="col-sm-6">
                	<h2 class="section-header">About</h2>
                	<p class="lead text-muted">Data used:</p> 
                    <p>* Historic weather data from NOAA using the ASOS (Automated Surface Observing Systems) for Stampede Pass</p>
                    <p>* Snoqualmie Pass closure data requested from WSDOT</p>
                    <p>Cleaned and combined the data and created a predictive model.</p>
                </div>                
                
            </div>
        </div>
    </section>

    <!-- Content 2 -->
    <a name="predict"></a>
     <section class="content content-2">
        <div class="container">
            <div class="row">
                <div class="col-sm-6">
                	<h2 class="section-header">Predict</h2>
                	<p class="lead text-light">Collect new weather forecast data from Weather.com. Feed new weather forecast data into the model to create prediction probabilities of closure.</p>
                </div>    
                <div class="col-sm-6">
                    <img class="img-responsive img-circle center-block" src="images/snoqualmie_pass3.jpg" alt="">
                </div>            
                <a href="#probabilities" class="btn btn-primary btn-lg">Who Snows?</a>
            </div>
        </div>
    </section>    
    
    <!-- Footer -->
    <a name="contact"></a>
    <footer class="page-footer">
    
    	<!-- Contact Us -->
        <div class="contact">
        	<div class="container">
				<h2 class="section-heading">Find out more</h2>
				<p><span class="glyphicon glyphicon-envelope"></span><br> https://www.linkedin.com/in/leanne-baldwin/</p>
				<p><span class="glyphicon glyphicon-info-sign"></span><br> https://github.com/leannebaldwin/Pass_Closure</p>
        	</div>
        </div>
        	
        <!-- Copyright etc -->
        <div class="small-print">
        	<div class="container">
        		<p>Copyright &copy; Pass Closure 2018</p>
        	</div>
        </div>
        
    </footer>

    <!-- jQuery -->
    <script src="js/jquery-1.11.3.min.js"></script>

    <!-- Bootstrap Core JavaScript -->
    <script src="js/bootstrap.min.js"></script>

    <!-- Plugin JavaScript -->
    <script src="js/jquery.easing.min.js"></script>
    
    <!-- Custom Javascript -->
    <script src="js/custom.js"></script>

</body>

</html>
